@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  color: black;
}
p {
  color: black;
}
main {
  background-color: var(--background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair-display), serif;
  color: black;
}

h2 {
  @apply md:text-2xl;
}

.btn-hover:hover {
  @apply bg-light-gray rounded md:rounded-lg transition-colors ease-in;
}

.btn-hover-light:hover {
  @apply bg-dark-gray/50 rounded md:rounded-lg transition-colors ease-in;
}

h3 {
  @apply text-xl md:text-2xl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
